html {
    background: rgb(88,157,112);
    background: radial-gradient(circle, rgba(88,157,112,1) 0%, rgba(0,0,0,1) 100%);
}

header {
    /* border: 5px solid white; */
    padding-top: 3%;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding-left: 5%;
    padding-right: 5%; */
    align-items: center;
}

header img {
    width: 5%;
    border-radius: 50%;
}

ul {
    display: inline-flex;
    /* border: 3px solid blue; */
    font-size: 36px;
    justify-content: space-between;
    width: 115%;
    /* position: absolute; */
}

li {
    
}