html {
    background: rgb(88,157,112);
    background: radial-gradient(circle, rgba(88,157,112,1) 0%, rgba(0,0,0,1) 100%);
}

header {
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    width: 5%;
    border-radius: 50%;
}

header ul {
    display: inline-flex;
    font-size: 36px;
    justify-content: space-between;
    width: 115%;
}

a {
    text-decoration: none;
    color: aliceblue;
}

main {
    margin-top: 5%;
}

span {
    color: rgb(255, 68, 0);
}

.photoStrip {
    height: 30vh;
    background-color: black;
}

.lightFont {
    color: aliceblue;
}

.darkFont {
    color: darkgreen;
}

.separator {
    margin-top: 3%;
}

.miniSeparator {
    margin-top: 2%;
}

.aboutMe {
    font-size: 42px;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 75%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

.container {
    width: 75%;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
}

.bottomRightBrdr {
    border-bottom: 2px solid rgb(255, 68, 0);
    border-right: 2px solid rgb(255, 68, 0);
}

.contactInfo {
    display: inline-flex;
    font-size: 24px;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.contactDetails {
    border: 2px solid aliceblue;
    border-radius: 20px;
    padding: 1%;
}

.contactDetails2 {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 1%;
}

